
/* body {
  background-color: black;
} */

svg {
  height: 300px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* svg .draw1 {
  stroke: rgb(111, 0, 255);
  stroke-width: 10px;
  fill: transparent;
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
  animation: animate 5s;
  animation-iteration-count: 2;
  animation-direction: alternate;
} */

svg #class2 {
  /* stroke: #6454F0; */
  /* stroke-linecap:butt; */
  /* stroke-opacity: 1;   */
  stroke-width: 8px;
  /* filter: drop-shadow( 3px 3px 2px rgba(251, 0, 0, 0.7)); */
  /* fill: transparent; */
  stroke-dasharray: 7000;
  stroke-dashoffset: 7000;
  animation-name: animate2;
  animation-iteration-count: infinite;
  animation-duration: 3.5s;
  animation-timing-function: linear;
  /* animation-delay: 2s; */
  animation-iteration-count: 2;
  animation-direction: alternate;
}

svg #class3 {
  stroke-width: 8px;
  fill: transparent;
  stroke-dasharray: 2500;
  stroke-dashoffset: 2500;
  /* animation-delay: 10s; */

  animation-name: animate1;
  animation-iteration-count: infinite;
  animation-duration: 3.5s;
  animation-timing-function: linear;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

@keyframes animate1 {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes animate2 {
  to {
    stroke-dashoffset: 0;
  }
}
